<div class="hero-unit">
    <h1>欢迎来到 <%= title %> </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>author</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0;i < serverinfo.length; i++){ %>
            <tr>
                <td><%= i %></td>
                <td><a href=<%- '"' %> <%= '/serverlist/'+(serverinfo[i]).title+ '' %><%- '"' %>><%= (serverinfo[i]).title %></a></td>
                <td><%=  (serverinfo[i]).author %></td>
                <td><%=  (serverinfo[i]).description %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>